* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f0f0f0;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  display: flex;
  gap: 2rem;
  padding: 1rem;
  background: white;
  border-bottom: 1px solid #ccc;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 10px;
}

.image-card {
  max-width: 30%;
  max-height: 230px; /* Ahora controlamos que haya 3 filas, no importa el ancho */
  height: auto;
  object-fit: contain; /* Mostrar toda la imagen sin deformarla */
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}
.image-card:hover {
  transform: scale(1.25);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.tag-button {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  background: #0070f3;
  color: white;
  border-radius: 9999px;
  cursor: pointer;
  font-size: 0.9rem;
}

.tag-button:hover {
  background: #0059c1;
}
