@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f0f0f0;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  display: flex;
  gap: 2rem;
  padding: 1rem;
  background: white;
  border-bottom: 1px solid #ccc;
}

.search-and-random {
  padding: 10px 30px;
  display: flex;
  justify-content: space-between; /* Distribuye espacio entre los elementos */
  align-items: center; /* Alinea verticalmente en el centro */
  width: 100%;
}

.search-bar {
  flex-grow: 1; /* Hace que la barra de búsqueda ocupe todo el espacio disponible */
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0px 10px;
}

.search-input-div {
  background-color: white;
  border-radius: 20px 20px 0 0;
  width: 100%;
  min-height: 50px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  border: 1px solid #b9b9b9;
  border-bottom: none;
}

.search-input {
  flex: 1;
  padding: 0 20px;
  font-size: 20px;
  border: none;
  background-color: transparent;
  outline: none;
}

.search-icon {
  background-color: rgb(227, 227, 227);
  padding: 0 20px;
  height: auto;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.suggestions {
  background: white;
  width: 100%;
  border: 1px solid #b9b9b9;
  border-top: none;
  position: absolute;
  top: calc(100% + 0px);
  z-index: 10;
  border-radius: 0 0 20px 20px;
}

.search-input-div.no-suggestions {
  border-radius: 20px; /* Redondear todos los bordes si no hay sugerencias */
  border-bottom: 1px solid #b9b9b9; /* Volver a poner el borde abajo */
}

.suggestions::-webkit-scrollbar {
  display: none;
}

.suggestion-item {
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
  display: block;
}

.suggestion-item:hover,
.active {
  background: rgb(227, 227, 227);
}

.random-count {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  border: 1px solid #b9b9b9;
}

.random-count label {
  font-size: 16px;
}

.random-count input {
  text-align: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  gap: 10px;
}

.image-card {
  max-width: 30%;
  max-height: 230px; /* Ahora controlamos que haya 3 filas, no importa el ancho */
  height: auto;
  object-fit: contain; /* Mostrar toda la imagen sin deformarla */
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  cursor: pointer;
}
.image-card:hover {
  transform: scale(1.25);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  z-index: 9;
}

.tag-button {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  background: #0070f3;
  color: white;
  border-radius: 9999px;
  cursor: pointer;
  font-size: 0.9rem;
}

.tag-button:hover {
  background: #0059c1;
}
